
h1{
    align-items: center;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

img {
    width: 100%;
    animation: fade 15s;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

p{
    text-align: center;
}

h3 {
    text-align: center;
}

