@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,866;1,14..32,866&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", "Inter", sans-serif;
}

header span {
    display: block;
    text-align: center;
    padding: 10px 20px
}

nav{
    display: flex;
    gap: -50px;
    justify-content: space-around;
    padding: 15px 20px;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

main {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 500px;
    padding: 30px 90px;
    gap: 10px;
    justify-content: space-around;
}

/* About Card */

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 20px;
    border: 1px solid black;
    border-radius: 18px;
}

.image-holder {
    width: 200px;
}

.image-holder img {
    width: 150px;
}

.about {
    display: flex;
    gap: 10px;
}
.intro-name {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}



.intro-name h4 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 250px;
}