body {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
    line-height: 1.6;
    color: #333;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background: #91ecfeff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background: #ffffffff
}